.container{
    width:1170px; margin:0 auto;
}
header{
    background-color:transparent ;
    height: 80px; color: grey; width:100%;
    position:fixed; z-index: 300;
}
.header-list{
    float:right; color:grey; text-decoration: none;
}
.header-list a{
    list-style:none; float:left;font-size:30px; cursor:pointer;
    padding: 10px 20px; color:grey;
    text-decoration: none;
}
.header-list a:hover{
    text-decoration: underline 1px solid; 
}

.header-contact{
    float:right; color:grey; border:1px solid grey;
    font-size:30px; margin:20px 20px; text-decoration:none;
    padding:4px 20px 4px 5px; display:inline-block;
    
}
.fa-envelope{
    color:grey; height:30px; width:30px; margin-left:10px;
}
.top-wrapper{
    background-image: url("Top-wrapper.webp"); background-size: cover;
    height: 600px; z-index:0;
}
.logo{
    width:100%; text-align:center;
    padding-top:300px;
}
.logo h3{
   font-size:30px; font-weight: normal; letter-spacing:4px;
    color:rgb(41, 31, 70); font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
.name1{
    color:rgb(125, 111, 168);
}
.fa-shoe-prints{
    color:grey; 
}
.sns-sidebar-right{
    background-color:transparent; position:fixed; width:80px;
    left:1180px; height:100%; font-size: 30px;
    text-shadow: 2px 2px rgb(122, 0, 0);
}
.fa-instagram{
    position:absolute;
    top:200px;
    color:rgba(252, 7, 7); margin:0 auto; opacity:0.7;
}
.fa-youtube{
    color:rgba(252, 7, 7);  margin:0 auto; opacity:0.7;
    position: absolute; top:235px;
}
.fa-instagram:hover{
    opacity:1;
}
.fa-youtube:hover{
    opacity:1;
}
.fa-instagram:active{
    text-shadow: none;
}
.fa-youtube:active{
    text-shadow:none;
}
.shops{
    background-color:transparent;
    width:100%; height:100px; position: fixed;
    top:300px;
}
.shop{
    display:block; text-decoration: none;
    height:30px; width:220px; background-color: red;
    margin:10px 30px; font-size:17px;
    padding:10px 20px; line-height:30px; color:white;
    transition:all 1.2s;
    border-radius: 2px;
    
}
.shop:hover{
    background-color: rgb(0, 0, 54); 
}
.contents-wrapper{
    width:100%; height:3000px; background-color: rgba(230, 230, 230, 0.815);
    position:relative;
}
.heading-contents{
    position:absolute;
    top:50px; left:80px;
    background-color: aliceblue;
    height:240px; width:400px;
}
.heading-contents h2{
    font-family: sans-serif; padding:2px; margin:0px; font-size:40px; font-weight: 100;
}
.heading-contents a{ 
    border:1px solid grey; font-family:sans-serif; display:block; color:black;
    font-weight:100; font-size: 25px; padding:5px; margin:2px 150px 2px 2px; text-decoration: none;
}
.heading-contents a:hover{
    background-color: rgb(0, 0, 54); color:white;
}
.shoes1-content{
    position:absolute; top:350px; left:80px; 
    background-color: aliceblue; height:400px; width:500px;
}
.shoes1-content img{
    height:600px; width:500px; margin:0px;
}
.shoes2-content{
    position:absolute; top:1100px; left:80px; 
    background-color: aliceblue; height:400px; width:500px; 
}
.shoes2-content img{
    height:350px; width:500px; margin:0px;
}
.shoes3-content{
    position:absolute; top:50px; right:80px; 
    background-color: aliceblue; height:400px; width:500px;
}
.shoes3-content img{
    height:550px; width:500px; margin:0px;
}
.shoes4-content{
    position:absolute; top:700px; right:80px; 
    background-color: aliceblue; height:400px; width:500px;
}
.shoes4-content img{
    height:350px; width:500px; margin:0px;
}
.shoes_p{
    display:block; background-color: black;
    height:50px; width:500px; color:white;
    margin:0px;
}
